[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
parse = "*"
boltons = "*"
pandas = "*"

[dev-packages]
python-dotenv = "*"
black = "==21.7b0"
pytest = "*"
pytest-cov = "*"
coverage = "*"
requests = "*"

[requires]
python_version = "3.8"
